CSIRTG_SMRT_RUNTIME_PATH={{ smrt_runtime_path | default(smrt.runtime_path) }}
CSIRTG_SMRT_RULES_PATH={{ smrt_rules_path | default(smrt.rules_path) }}/default
CSIRTG_SMRT_CACHE_PATH={{ smrt_cache_path | default(smrt.cache_path) }}
CSIRTG_SMRT_FIREBALL_SIZE={{ smrt_fireball_size | default(smrt.fireball_size) }}
CSIRTG_SMRT_GOBACK_DAYS={{ smrt_goback_days | default(smrt.goback_days) }}

CIF_TOKEN={{ smrt_cif_token | default() }}
CIF_REMOTE={{ smrt_cif_remote | default() }}

CSIRTG_TOKEN={{ smrt_csirtg_token | default() }}