{% include './templates/router/defaults.j2' %}

CIF_HTTPD_TOKEN="{{ router_httpd_token | default(router.httpd.token) }}"
CIF_HTTPD_PROXY=0

CIF_STORE_TRACE=0
#CIF_STORE_ES_TRACE=0
#CIF_STORE_SQLITE_TRACE=0
CIF_ROUTER_TRACE=0
CIF_HUNTER_TRACE=0
CIF_HTTPD_TRACE=0
CIF_STORE_ES_UPSERT_MODE=1
CIF_STORE_ES_UPSERT_TRACE=1